/*
=============== 
Variables
===============
*/
// colors
$color-primary: #2584ff;
$color-secondary: #00d9ff;
$color-accent: #ff3400;
$color-headings: #1b0760;
$color-body: #918ca4;
$color-body-darker: #5c5577;
$color-border: #ccc;
$border-radius: 30px;
$clr-black: #222;
$transition: all 0.3s linear;
$spacing: 0.1rem;
$radius: 0.25rem;
$light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
$dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
$max-width: 1170px;
$fixed-width: 620px;
